<div class="sidebar">
  <div class="sidebar-photos">
    <h3 class="sidebar-title">Photos</h3>
    <div class="sidebar-photos-container">
      <% @sidebar.each do |tweet| %>
        <%= link_to tweet_path(tweet.id) do %>
        <%= attachment_image_tag tweet, :image,:fill, 70, 70 %>
        <% end %>
      <% end %>
    </div>
    <%= paginate @sidebar,class:"sidebar-pagenate" %>
  </div>
    <div class="date">
    <h3 class="sidebar-title">Date</h3>
    <div class="date-list">
      <div class="date-list-item">
        <h4 class="sidebar-title">2010</h4>
        <p class="sidebar-body"></p>
      </div>
      <div class="date-list-item">
        <h4 class="sidebar-title">2000</h4>
        <p class="sidebar-body"></p>
      </div>
    </div>
  </div>
  <div class="explore">
    <h3 class="sidebar-title">Explore</h3>
    <div class="explore-body">
      <ul class="explore-text">Product Tours</ul>
      <ul class="explore-text">Books & Guides</ul>
      <ul class="explore-text">Customer Data Platform</ul>
    </div>
  </div>
  <div class="sns">
    <h3 class="sidebar-title">SNS</h3>
    <p class="sns-text">FOLLOW ME</p>
    <div class="sns-icons">
      <%= link_to "","https://twitter.com",class:"fab fa-twitter-square" %>
      <%= link_to "","https://www.instagram.com",class:"fab fa-instagram-square" %>
      <%= link_to "","https://ja-jp.facebook.com",class:"fab fa-facebook-square" %>
      <%= link_to "","https://www.youtube.com",class:"fab fa-youtube" %>
      <%= link_to "","https://www.snapchat.com/",class:"fab fa-snapchat-square" %>
    </div>
  </div>
</div>
