<body>
  <main>
    <%= render 'tweets/sidebar' %>

      <div class="main-visual">
        <p id="notice"><%= notice %></p>
        <div class="main-visual-content">
          <div class="main-visual-img"></div>
          <div class="main-visual-text">
            <h1 class="text-title">Title</h1>
            <p class="article-comment">comment</p>
          </div>
        </div>

        <div class="latest-news">
          <h2 class="latest-news-title">Latest News</h2>
            <div class="latest-news-container">
              <div class="news-box">
                <% @tweets.each do |tweet| %>
                  <div class="news-content">
                    <h3 class="news-title"><%= tweet.title %></h3>
                    <p class="news-body">
                      <%= tweet.content %>
                    </p>
                    <%= link_to "Show", tweet_path(tweet.id) %>
                    <%= link_to 'Edit', edit_tweet_path(tweet) %>
                    <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </div>
            </div>
          <%= paginate @tweets %>
        </div>
      </div>
  </main>
  <footer></footer>
</body>