<body>
  <main>

      <%= render 'tweets/sidebar' %>

        <div class="main-visual">
          <p id="notice"><%= notice %></p>
          <div class="main-visual-content">
            <div class="main-visual-img"><%= attachment_image_tag @tweet, :image,:fill, 750, 500 %></div>
            <div class="main-visual-text">
              <h1 class="text-title"><%= @tweet.title %></h1>
              <p class="article-comment"><%= @tweet.content %></p>
              <div class="article-item">
                <%= link_to 'Edit', edit_tweet_path(@tweet) %>
                <%= link_to 'Destroy', @tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>

          <div class="latest-news">
            <h2 class="latest-news-title">Latest News</h2>
              <div class="latest-news-container">
                <div class="news-box">
                  <% @tweets.each do |tweet| %>
                    <div class="news-content">
                      <h3 class="news-title">
                        <%= link_to tweet_path(tweet.id) do %>
                        <%= tweet.title %>
                        <% end %>
                      </h3>
                      <p class="news-body">
                        <%= tweet.content %>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
            <%= paginate @tweets %>
          </div>

        </div>
  </main>
  <footer></footer>
</body>