<!DOCTYPE html>
<html>
  <head>
    <title>Telescope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4a4fca51eb.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav-title-container">
          <%= link_to "Telescope", root_path,class:"nav-title" %>
      </div>
      <nav class="nav-list">
          <ul class="nav-list-item">
            <%= link_to "Index", tweets_path,class:"fas fa-book" %>
          </ul>
          <ul class="nav-list-item">
            <%= link_to "New", new_tweet_path,class:"fas fa-plus" %>
          </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
